
.visual-task {
  padding: 10px;
  border:solid;
  border-width:1px;
  border-radius: 15px;  
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vh;
}

.sub-container {
  display: flex;  
  gap: 0.5vw;
}

.task-sub-heading {
  font-weight: 600;
}

.sub-container > p {
  margin: 0;
}

#task-container {
  padding: 1vw;
}