
.visual-task {
  display: grid;
  grid-template-columns: 25% 25% 12.5% 12.5% 12.5% 12.5%;
  padding: 10px;
  border:solid;
  border-width:1px;
  border-radius: 15px;    
  margin-bottom: 2vh;
}

.task-sub-heading {
  font-weight: 600;
}

.sub-container > p {
  margin: 0;
}

#task-container {
  padding: 1vw;
}

#btn-sub-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.task-icons {
  height: 3.5vh;
  width: auto;

}

.task-icons:hover {
    outline: 4px solid transparent;
    cursor: pointer;
}