@font-face {
  font-family: 'quicksand';
  src: url('/src/fonts/Quicksand-VariableFont_wght.ttf');
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'quicksand';
}

.container {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 10vh 90vh;
}

#left-column {
  grid-area: 1 / 1 / 3 / 2;
  background-color: rgba(249, 240, 240, 0.94);
}

#header {
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;
}

#workspace {
  grid-area: 2 / 2 / 3 / 3;
  background-color: white;
}

img {
  width: 35px;
  height: auto;
}

.menu-icon {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.left-menu {
  margin: 10vh 0 10vh 3vw;
}

.icon-text {
  font-size: larger;
}

a:hover {
  cursor: pointer;
}